        h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 2.5rem;
        letter-spacing: 0.5px;
        }

        p {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.6;
        text-align:left;
        }

        .container {
        margin: 16rem 0 0 12rem; 
        }

        .btn {
        color: var(--color--text);
        }

        .btn:focus, .btn:active, .btn:focus:active, .btn:visited, .btn:hover {
        background: var(--color--button);
        color: var(--color--text);
        }

        footer {
        background:var(--color--footer);
        padding: 1rem 4%;
        margin: 14.9rem 0 0 0;
        }


