/* :root {
        --color--background-container:#161A1F;
        --color--background-modal:#161A1F;
        --color--background-card:#0a0c0f;
        --color--table-impar:#20252a;
        --color--table-par:#161A1F;
        --color--background:#000;
        --color--primary:#0B5ED7;
        --color--border:#393E42;
        --color--navbar:#0C0F16;
        --color--input:#20252A;
        --color--text:#fff;
        --color--button:#0B5ED7;
        --color--placeholder: rgba(255,255,255,.76);
        --color--eyes: #ffffff;
        --color--footer:#0C0F16;

        /* LOGIN 
        --color--cardLogin: #0C0F16;
} */

::-webkit-scrollbar {
        width: 8px;
}

::-webkit-scrollbar-thumb {
        background: var(--color--button); 
}

        .navbar {
        background: var(--color--navbar);
        }

        h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 2.5rem;
        letter-spacing: 0.5px;
        }

        p {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.6;
        text-align:left;
        }

        .container {
        margin: 16rem 0 0 12rem; 
        }

        .btn {
        color: var(--color--text);
        }

        .btn:focus, .btn:active, .btn:focus:active, .btn:visited, .btn:hover {
        background: var(--color--button);
        color: var(--color--text);
        }

        footer {
        background:var(--color--footer);
        padding: 1rem 4%;
        margin: 14.9rem 0 0 0;
        }

        .topicos {
        margin:7rem 19.4rem 0 0;
        text-align:end;
        }

