        .containerHome {
        margin: 3rem 19rem 12rem 14rem;
        padding: 1rem;
        border-radius: 0.5rem;
        }

        .topicoTitle {
        color: var(--color--nome-topico);
        margin: 0.4rem;
        }

        .topicoBlock{
        background: var(--color--background-topico);
        border-radius: 0.8rem;
        padding: 1rem;
        margin-bottom: 4rem;
        }

        .btnTopico {
        display: flex;
        gap: 0.5rem;
        margin: 5rem 0 2rem 0;
        }

        .topicos {
        margin:7rem 19.4rem 0 0;
        text-align:end;
        }

        .topicos button:hover {
        background: #0a51bb;   
        }

        .topicos button:focus {
        background: #0a51bb;   
        }

        .btnTopico button:hover {
        background: #0a51bb;    
        }

        .btnTopico button:focus {
        background: #0a51bb;    
        }

        .table thead th {
        background:var(--color--table-topico);
        color: var(--color--text);
        }

        .table tbody tr:nth-of-type(odd) td {
        background: var(--color--table-impar);
        color: var(--color--text-topico);
        border-bottom: 1px solid var(--color--table-border);
        }

        .table tbody tr:nth-of-type(even) td {
        background: var(--color--table-par); 
        color: var(--color--text-topico);
        border-bottom: 1px solid var(--color--table-border);
        }

        .icon {
        color: var(--color--icons-topico);
        }