:root {

        }

        ::-webkit-scrollbar {
        width: 8px;
        }

        ::-webkit-scrollbar-thumb {
        background:var(--color--primary);
        }

        body {
        background:var(--color--background);
        }

        .navbar {
        background: var(--color--navbar);
        }

        main {
        background: var(--color--background-container);
        }

        .btn-topico {
        margin:7rem 19.4rem 0 0;
        text-align:end;
        }

        .container {
        border: 1px solid;
        border-radius:0.5rem;
        }

        .container-txt {
        border: 1px solid;
        border-radius:0.5rem;
        }

        .modal-content {
        border-radius:4rem;
        }

        .modal-header {
        background: var(--color--background-modal);
        border-bottom:1px solid var(--color--primary);
        }

        .modal-body {
        background: var(--color--background-modal);
        }

        .modal-footer {
        background: var(--color--background-modal);
        }

        .form-control {
        color: var(--color--text);
        background-color: var(--color--input);
        border: 1px solid var(--color--border);
        }

        .form-control::placeholder {
        color:rgba(255, 255, 255, 0.76); 
        }

        .form-control:focus {
        background-color: var(--color--input);
        color: var(--color--text);
        border-color: var(--color--border);
        box-shadow: none;
        outline: none;
        }

        .icon {
        color: var(--color--text);
        }

        .table.table-striped {
        background: var(--color--input);
        border:2px solid var(--color--primary);
        border-radius: 0.4rem;
        overflow: hidden;
        }

        .table.table-striped thead th {
        border-bottom: 2px solid var(--color--primary);
        background:var(--color--primary);
        color: var(--color--text);
        }

        .table.table-striped tbody tr:nth-of-type(odd) td {
        background: var(--color--table-impar); 
        color: var(--color--text);
        }

    .table.table-striped tbody tr:nth-of-type(even) td {
        background: var(--color--table-par); 
        color: var(--color--text);
    }
