.navLink {
    cursor: pointer;
    transition: color 0.2s, background 0.2s;
    padding: 0.5rem 1rem;
}

.tab-content {
    margin-top: 20px;
    padding: 20px;
    border-radius: 0.5rem;
    background-color: #fff;
}

.icon {
    color: var(--color--eyes);
}

.nav {
    color: var(--color--eyes) !important;
}

.navLink,
.navLink:hover {
    color: var(--color--eyes);
}
