.card {
    background: var(--color--card-vendas);
}

.cardHeader {
    background: var(--color--primary);
    color: var(--color--text);
}

label {
    color: var(--color--label);
}

.formControl {
  color: var(--color--text-input);
  background: var(--color--input);
  border: 1px solid var(--color--border-input);
}

.formControl:focus {
  box-shadow: none;
  outline: none;
  background: var(--color--input);
  color: var(--color--text-input);
  border-color: var(--color--input-focus);
}

.formControl::placeholder {
  color: var(--color--placeholder);
}

.totalVenda {
  color: var(--color--eyes);
}

.infoProduto {
  color: var(--color--eyes);
}

.btnVendas:hover{
  background: #0a51bb;
}

.btnVendas:focus {
  background: #0a51bb;
}

/* Para realmente colorir as células (Bootstrap estiliza os <th>/<td>) */
:global(.table).tableCustom > :not(caption) > * > * {
    background: var(--color--card-vendas);
    color: var(--color--text-card);
}

/* Se usar .table-striped, sobrescreva as listras também */
:global(.table.table-striped).tableCustom > tbody > tr:nth-of-type(odd) > * {
    background: #f9fbff;
}

:global(.table.table-striped).tableCustom > tbody > tr:nth-of-type(even) > * {
    background: #fff;
}