.card {
    background: var(--color--card-vendas);
}

.cardHeader {
    background: var(--color--primary);
    color: var(--color--text);
}

label {
    color: var(--color--label);
}

.formControl {
  color: var(--color--text-input);
  background: var(--color--input);
  border: 1px solid var(--color--border-input);
}

.formControl:focus {
  box-shadow: none;
  outline: none;
  background: var(--color--input);
  color: var(--color--text-input);
  border-color: var(--color--input-focus);
}

.formControl::placeholder {
  color: var(--color--placeholder);
}

.totalVenda {
  color: var(--color--eyes);
}

.infoProduto {
  color: var(--color--eyes);
}

.btnVendas:hover, 
.btnVendas:focus, 
.btnVendas:active:focus {
  background: #0a51bb;
}

.btnExcluir:hover,
.btnExcluir:focus,
.btnExcluir:active:focus {
  background: #ac2331;
}

:global(.table).tableCustom > :not(caption) > * > * {
    background: var(--color--card-vendas);
    color: var(--color--text-card);
}
